*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #f8f6f6;
}
.header-1{
  height: 43px;
  background: #252525;
padding-top: 12px;
padding-bottom: 12px;
display: flex;
flex-direction: row;
justify-content: center;

}
.header1-div{
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.nav-1{
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
 

}
.nav-1 li{
  margin-left: 40px;
  color: white;
 
}
.nav-1 li a{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 100;

}
.bag{
  height: 30px;
}
.search{
  height: 15px;
}
.search-2{
  height: 15px;
}
.nav-2{
  height: 50px;
  background-color:rgb(255, 255, 255);
  opacity: 97%;
  display: flex;
  justify-content: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.newsroom-nav{
  background: white;
width: 100%;
max-width: 1000px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.newsroom-nav-2{
  font-size: 12px;
  color: #1d1d1f;
}
.newsroom-nav-2 span{
  margin-left: 25px;
}
.newsroom a{
  text-decoration: none;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 20px;

}

.article-heading{
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;

}
.main-heading{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.content{
  display: flex;
  justify-content: flex-start;
}
.sec-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.release-date{
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 700;
  letter-spacing: -.01em;
}
h1{
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -.003rem;
  line-height: 1.08349;
  color: #1d1d1f;
  margin-top: 2rem;
}
.sub-head{
  font-size: 22px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: .009em;
  color: #1d1d1f;
  margin-top: 2rem;
}
.socialMedia-links{
  list-style: none;
  display: flex;
  flex-direction: row;

}
.socialMedia-links li{
  margin-right: 1rem;
  margin-top: 2rem;
}
.picture-sec{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}
.picture-description{
  color: #6e6e73;
  width: 653px;
  height: 30px;
    margin: 16px 16px 0;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 600;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
    margin-bottom: 60px;

}
.download-icon img{
  width: 20px;
  height: 20px;
  
}
.description-download-icon{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description{
  width: 605px;
  height: 30px;
  
}
.developer-pic{
  width: 980px;
  height: 550px;
  border-radius: 1%;
}
.developer-pic img{
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
p{
  max-width: 655px;
  width: 100%;

}
.container{
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p{
  font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    margin-bottom: 1.4211em;
}
.article{
  display: flex;
  justify-content: center;
}
.place{
  font-size: 20px;
  font-weight: bold;
}